.featured {
    margin-top: 100px;
    color: orange;
}

img {
    object-fit: cover;
    height: 600px;
    width: 100%;
}

@media only screen and (max-width: 768px) {
    .featured {
        margin-top: 158px;
    }
    
}